{% extends 'base.html' %}
{% block content %}

<div class="text-center" style="margin-top: 50px; margin-bottom: 20px;">
    <h2>CONTRACTS</h2>
</div>

<div class="d-flex justify-content-center">
    <div class="text-center" style="width: 1200px">
        <table class="table table-bordered">
            <thead style="background-color:aliceblue;">
                <tr>
                    <th class="col-2">ROOM TYPE</th>
                    <th class="col-2">ROOM NUMBER</th>
                    <th class="col-2">CONTRACT NAME</th>
                    <th class="col-2">CONTRACT START</th>
                    <th class="col-2">CONTRACT END</th>
                </tr>
            </thead>
            {% if rooms %}
                {% for room in rooms %}
                    <tbody style="background-color:rgb(253, 231, 235);">
                        <tr>
                            <td>{{ room['room_type'].upper() }}</td>
                            <td>{{ room['room_number'] }}</td>
                            <td>{{ room['first_name'] }} {{ room['last_name'] }}</td>
                            <td>{{ room['start'] }}</td>
                            <td>{{ room['end'] }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

<div class="text-center" style="margin-top: 50px; margin-bottom: 20px;">
    <h2>AVAILABLE ROOMS</h2>
</div>

<div class="d-flex justify-content-center">
    <div class="text-center" style="width: 800px;">
        <table class="table table-bordered">
            <thead style="background-color:aliceblue;">
                <tr>
                    <th class="col-4">ROOM NUMBER</th>
                    <th class="col-4">ROOM TYPE</th>
                </tr>
            </thead>
            {% if empty_rooms %}
                {% for room in empty_rooms %}
                    <tbody style="background-color:rgb(253, 231, 235);">
                        <tr>
                            <td>{{ room['room_number'] }}</td>
                            <td>{{ room['room_type'].upper() }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

<div class="text-center" style="margin-top: 50px; margin-bottom: 20px;">
    <h2>PROBLEMS REPORT</h2>
</div>

<div class="d-flex justify-content-center">
    <div class="text-center" style="width: 1200px;">
        <table class="table table-bordered">
            <thead style="background-color:aliceblue;">
                <tr>
                    <th class="col-1.5">ROOM NUMBER</th>
                    <th class="col-6">PROBLEM DETAILS</th>
                    <th class="col-1.5">PROBLEM STATUS</th>
                    <th class="col-3">UPDATE STATUS</th>
                </tr>
            </thead>
            {% if problems %}
                {% for problem in problems %}
                    <tbody style="background-color:rgb(253, 231, 235);">
                        <tr>
                            <td>{{ problem['room_number'] }}</td>
                            <td>{{ problem['problem_details'] }}</td>
                            <td>{{ problem['status'].upper() }}</td>
                            <td>
                                {% if statuses %}
                                <div class="row">
                                    {% for status in statuses %}
                                    <div class="col-3">
                                        <a href="/modify/{{ problem }}/{{status}}" class="btn btn-outline-danger">{{ status[0].upper() }}</a>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
<div class="text-center" style="margin-top: 50px; margin-bottom: 20px;">
    <h2>INVOICES</h2>
    <a href="/invoices" class="btn btn-primary">Invoice</a>
</div>

{% endblock %}