{% extends "base.html" %}
{% block content %}

<div class="text-center" style="margin-top: 50px; margin-bottom: 50px;">
  <h1>All Receipts</h1>
</div>
{% if receipts %}
<div class="d-flex justify-content-center" style="margin-bottom: 50px;">
  <table class="text-center table table-bordered" style="width: 1400px">
    <thead style="background-color:aliceblue;">
      <tr>
        <th class="col-1.5">Room Number</th>
        <th class="col-2">First Name</th>
        <th class="col-2">Last Name</th>
        <th class="col-1.5">Start Date</th>
        <th class="col-1.5">End Date</th>
        <th class="col-2">Electric Bill</th>
        <th class="col-2">Water Bill</th>
        <th class="col-1">Edit</th>
      </tr>
    </thead>

    <tbody style="background-color:rgb(253, 231, 235);">
      {% for receipt in receipts %}
        <tr>
          <td>{{ receipt['room_number'] }}</td>
          <td>{{ receipt['first_name'] }}</td>
          <td>{{ receipt['last_name'] }}</td>
          <td>{{ receipt['start'] }}</td>
          <td>{{ receipt['end'] }}</td>
          <td>{{ receipt['electric_bill'] }}</td>
          <td>{{ receipt['water_bill'] }}</td>
          <td><a href="{{ url_for('assign_invoice', user_id=receipt['user_id']) }}" class="btn btn-outline-danger">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <div class="text-center">
    <p>No receipts available.</p>
  </div>
{% endif %}

{% endblock %}
