{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 28px;
            margin-bottom: 30px;
        }

        .user-profile-table {
            margin-top: 40px;
            padding: 30px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .user-profile-table h3 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        .user-profile-table h4 {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .user-profile-table p {
            margin-bottom: 5px;
        }

        .white-box {
            background-color: #fff;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .white-box p, .white-box h4 {
            margin-bottom: 0;
            font-size: 18px;
        }

        #roomNumbers {
            margin-top: 17px;
            list-style-type: none;
            padding-right: 400px;
        }

        .list-group-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .list-group-item i {
            font-size: 20px;
            margin-right: 10px;
        }

        .btn-outline-danger {
            color: #dc3545;
            border-color: #dc3545;
        }

        .btn-outline-danger:hover {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }
    </style>

    <div class="container">
        <h1 class="text-left">Profile: {{ user[0]['first_name'] }} {{ user[0]['last_name'] }}</h1>

        <div class="user-profile-table">
            <h3>Welcome, {{ user[0]['first_name'] }}!</h3>
            
            <div class="list-group">
                <div class="list-group-item">
                    <i class="bi bi-geo-alt-fill"></i>
                    <h4>Booked Room Numbers:</h4>
                    {% if rooms %}
                        <ul class="list-unstyled" id="roomNumbers">
                            {% for room in rooms %}
                                <li>{{ room['room_number'] }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Sorry, currently no rooms are available.</p>
                    {% endif %}
                </div>
            </div>

            <div class="mt-4">
                <div class="white-box">
                    <p>Move-in Date: {{ selected_date }}</p>
                </div>
                <div class="white-box">
                    <h4 class="mb-3">Contract Details:</h4>
                    <ul class="list-unstyled">
                        <li class="white-box mb-0">Contract Type: {{ contract_type }}</li>
                        <li class="white-box mb-0">Start Date: {{ start_date }}</li>
                        <li class="white-box mb-0">End Date: {{ end_date }}</li>
                    </ul>
                </div>
                <div class="white-box">
                    <p>Room Type: {{ room_type }}</p>
                </div>
                <div class="white-box">
                    <p>Additional Information:</p>
                </div>
                <a href="{{ url_for('reportproblem')}}" class="btn btn-outline-danger">Report Problem</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}
