{% extends 'base.html' %}
{% block content %}

{% if user_details %}
<div class="text-center container rounded" style="background-color:rgb(253, 231, 235); width: 600px; margin-top: 50px; padding-top: 20px; padding-bottom: 20px;">
    <h1>Welcome Back, {{ user_details['first_name'] }}</h1>
</div>

<div class="container" style="width: 700px; margin-top: 30px;">
    <h6>Personal Details</h6>
</div>

<div class="text-center container" style="color: rgb(0, 0, 100); background-color: aliceblue; width: 700px; margin-top: 10px;">
    <div style="padding-top: 30px;">
        <h5>Name: {{ user_details['first_name'] }} {{ user_details['last_name'] }}</h5>
    </div>
    <div style="padding-top: 20px;">
        <h5>Email: {{ user_details['email'] }}</h5>
    </div>
    <div style="padding-top: 20px; padding-bottom: 30px;">
        <h5>Phone Number: {{ user_details['phone_number'] }}</h5>
    </div>
</div>

<div class="container" style="width: 700px; margin-top: 30px;">
    <h6>Room and Contract Details</h6>
</div>

<div class="text-center container" style="color: rgb(0, 0, 100); background-color: aliceblue; width: 700px; margin-top: 10px;">
    <div style="padding-top: 30px;">
        <h5>Room Number: {{ user_details['room_number'] }}</h5>
    </div>
    <div style="padding-top: 20px;">
        <h5>Room Type: {{ user_details['room_type'].upper() }}</h5>
    </div>
    <div style="padding-top: 20px;">
        <h5>Contract Type: {{ user_details['contract_length'].upper() }}</h5>
    </div>
    <div style="padding-top: 20px;">
        <h5>Contract Start: {{ user_details['start'] }}</h5>
    </div>
    <div style="padding-bottom: 30px; padding-top: 20px;">
        <h5>Contract End: {{ user_details['end'] }}</h5>
    </div>
</div>

<div class="text-center container rounded" style="background-color:rgba(245, 242, 242, 0.963); width: 500px; margin-bottom: 50px; margin-top: 20px; padding-top: 20px; padding-bottom: 20px;">
    <a href="{{ url_for('receipt') }}" class="btn btn-outline-success" style="margin-right: 10px;">Receipt</a>
    <a href="{{ url_for('reportproblem') }}" class="btn btn-outline-danger" style="margin-left: 10px;">Report Problem</a>
</div>

{% else %}
<div class="text-center container rounded" style="background-color:rgb(253, 231, 235); width: 600px; margin-top: 50px; padding-top: 20px; padding-bottom: 20px;">
    <h1>Hello, {{ no_room_user['first_name'] }}</h1>
</div>

<div class="text-center container rounded" style="color: brown; background-color: aliceblue; width: 700px; margin-top: 10px;">
    <div style="padding-top: 30px;">
        <h5>Room Number: You do not have a room yet</h5>
    </div>
    <div style="padding-top: 20px;">
        <h5>Room Type: None</h5>
    </div>
    <div style="padding-top: 20px;">
        <h5>Contract Type: None</h5>
    </div>
    <div style="padding-top: 20px;">
        <h5>Contract Start: None</h5>
    </div>
    <div style="padding-top: 20px;">
        <h5>Contract End: None</h5>
    </div>
    <div style="padding-top: 20px;">
        <p>If you wish to book a room now, click here</p>
    </div>
    <div style="padding-bottom: 30px;">
        <a href="{{ url_for('booking') }}" class="btn btn-outline-danger">Book a Room</a>
    </div>
</div>
{% endif %}

{% endblock %}
