{% extends 'base.html' %}
{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <h1 class="text-center mb-5">Reviews From Tenants</h1>
        </div>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-outline-secondary" href="{{ url_for('write_review') }}" role="button">Write Review</a>
</div>

{% if reviews %}
    {% for review in reviews %}
        <div class="shadow p-3 mb-5 bg-light rounded" style="margin: 20px 40px 0px 40px;">
            {{ review['body'] }}
        </div>
    {% endfor %}
{% else %}
    <div class="displya-3">No Review</div>
{% endif %}



{% endblock %}