{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-5">Single Room</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4 mb-lg-0 mx-auto text-center">
            <img src="/static/images/singlebed1y.png" alt="Single Room" class="img-fluid" style="width: 500px; height: 400px; object-fit: cover;">
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-5">Double Room</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4 mb-lg-0 mx-auto text-center">
            <img src="/static/images/doublebed3.png" alt="Double Room" class="img-fluid" style="width: 500px; height: 400px; object-fit: cover;">
        </div>
    </div>
</div>

<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th>Contract Duration</th>
            <th>Single Room Price</th>
            <th>Double Room Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>3 months</td>
            <td>100baht</td>
            <td>100baht</td>
        </tr>
        <tr>
            <td>6 months</td>
            <td>100baht</td>
            <td>100baht</td>
        </tr>
        <tr>
            <td>9 months</td>
            <td>100baht</td>
            <td>100baht</td>
        </tr>
        <tr>
            <td>1 year</td>
            <td>100baht</td>
            <td>100baht</td>
        </tr>
    </tbody>
</table>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-5 attractive-text">Additional Facilities Available</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <h4 class="text-center attractive-text"> Access to Gym</h4>
            <img src="/static/images/gym.png" alt="Gym" class="img-fluid" style="width: 300px; height: 250px; object-fit: cover;">
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <h4 class="text-center attractive-text">Swimming Pool</h4>
            <img src="/static/images/swimming.png" alt="Swimming Pool" class="img-fluid" style="width: 300px; height: 250px; object-fit: cover;">
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <h4 class="text-center attractive-text">Access to common areas</h4>
            <img src="/static/images/commonroom.png" alt="Common Areas" class="img-fluid" style="width: 300px; height: 250px; object-fit: cover;">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <h4 class="text-center attractive-text">Laundry facilities</h4>
            <img src="/static/images/laundry.png" alt="Laundry" class="img-fluid" style="width: 300px; height: 250px; object-fit: cover;">
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <h4 class="text-center attractive-text">Shared kitchen</h4>
            <img src="/static/images/kitchen.png" alt="Kitchen" class="img-fluid" style="width: 300px; height: 250px; object-fit: cover;">
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <h4 class="text-center attractive-text">High-speed internet</h4>
            <img src="/static/images/wifi.png" alt="Internet" class="img-fluid" style="width: 300px; height: 250px; object-fit: cover;">
        </div>
    </div>
</div>

{% endblock %}
